.homeworks__form {
    display: flex;
    width: 300px;
    text-align: center;
    align-items: center;

    // flex-direction: column;


    input {
        width: 190px;
        padding: 12px;
        border-radius: 10px;
        margin: 10px;
    }

    select{
        padding: 10px;
        border-radius: 10px;
        margin: 8px;
        margin-bottom: 17px;
    }
}